body {
  background: blanchedalmond;
}

* {
  border: 1px solid deepskyblue;
}

header {
  min-height: 10vh;
  flex-grow: 1;
  background-color: blueviolet;
}

main {
  min-height: 70vh;
  flex-grow: 5;
  background-color: aqua;
}

footer {
  min-height: 10vh;
  flex-grow: 1;
  background-color: orange;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1em;
  }
}